<%-include("partials/header");-%>
<div class="container">



  <div>
    <h1 class="ask">Are you looking for blood?</h1>
    <button class="unibutton" type="button" name="button"><a href="/search">Search</a></button>
    <p class="or">--or--</p>
    <h1 class="ask">Register as Donor</h1>
    <button class="unibutton" type="button" name="button"><a href="/register">Register</a></button>
  </div>
  </div>
</body>
</html>
