<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <title>Home</title>
</head>
<body>
  <div class="top">
    <h1>logo</h1>
  </div>
<div class="container">

<h2>Thanks for your Registration .Your Registration is successful <br> <p class="or">Please go back to home</p></h2>

  <button class="unibutton" type="button" name="button"><a href="/">Home</a></button>
</div>
</body>
</html>
